{% assign sidebar_theme = site.sidebar_theme %}
{% if sidebar_theme == nil %}
    {% assign sidebar_theme = "navbar-light" %}
{% endif %}
{% assign sidebar_visible = page.sidebar_visible %}
{% if sidebar_visible == nil %}
    {% assign sidebar_visible = site.sidebar_visible %}
    {% if sidebar_visible == nil %}
        {% assign sidebar_visible = false %}
    {% endif %}
{% endif %}
{% if sidebar_visible %}
    {% assign toggled = "toggled" %}
{% else %}
    {% assign toggled = "" %}
{% endif %}
<nav class="sidebar {{sidebar_theme}} {{toggled}}" id="sidebar">
    {% if site.search_enabled != false %}
        {% include search.html %}
    {% endif %}
    <hr/>
    {% include_cached sitemap.html %}
    {% include blogroll.html %}
</nav>
