/*
    PRIMARY BODY FORMATTING
*/

:root {
    --finx-color-bg-primary:white;
    --finx-color-bg-secondary:rgb(248, 249, 250);
    --finx-color-bg-light:rgb(248, 249, 250);
    --finx-color-bg-dark:#343a40;

    --finx-color-primary:#4b2e83;
    --finx-color-secondary:#4D7F7F;
    --finx-color-light:whitesmoke;
    --finx-color-dark:darkslategray;
    --finx-sidebar-width:250px;
}

.main-content {
    min-height: 850px;
    padding: 25px;
}

.page-body {
    display: flex;
    align-items: stretch;
    width: 100%;
    background-color: var(--finx-color-bg-primary);
}

.about-blub {
    border-top: rgba(0, 0, 0, .1) solid 1px;
    border-bottom: rgba(0, 0, 0, .1) solid 1px;
    padding: 10px;
    margin-bottom: 20px;
}

a {
    color: var(--finx-color-primary);
}

a.docs-object-method {
    display: none;
}

a:hover {
    color: var(--finx-color-secondary);
    text-decoration: none;
}

/*
    SITEMAP STYLES
*/
.sitemap {
    padding: 5px;
}

.sitemap-link-list {
    padding-left: 10px;
    width: 100%;
}

.sitemap-link {
    list-style-type: none;
}

.sitemap-link a {
    color: var(--finx-color-primary);
}
.sitemap-link a:hover {
    color: var(--finx-color-secondary);
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
}

/*
    PRIMARY BODY FORMATTING
*/
.main-content {
    min-height: 850px;
    padding: 25px;
}

.page-body {
    display: flex;
    align-items: stretch;
    width: 100%;
}

/* Centered images */

p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*
    HEADER & FOOTER
 */

.main-header {
    border-bottom: solid 30px var(--finx-color-primary);
}
.main-header.with-image{
    border-bottom: none;
}

.toggle-sidebar-button {
    min-width: 50px;
    margin-right: 15px;
    color: var(--finx-color-light);
    background: none;
    border: none;
}
.toggle-sidebar-button:hover {
    color: var(--finx-color-light);
    min-width: 50px;
    background: var(--finx-color-primary);
}
.toggle-sidebar-button:focus {
    border: none;
    box-shadow: none;
}

:root{
    --finx-header-image:none;
    --finx-header-image-height:200px;
    --finx-header-links-bg-primary:var(--finx-color-primary);
    --finx-header-links-bg-opacity:.9;
    --finx-header-links-bg-secondary:var(--finx-color-bg-light);
}
.navbar {
    min-height: 100px;
    margin-top: auto;
}
.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}
.navbar.with-image {
    background-image: var(--finx-header-image);
    background-size: 100% 100%;
    min-height: var(--finx-header-image-height);
}
.navbar.with-image .header-links-container {
    margin-bottom: 25px;
    margin-top: auto;
    --finx-header-links-bg:var(--finx-color-primary);
    --finx-header-links-bg-opacity:.9;
}
.with-image .header-links {
    background: var(--finx-header-links-bg-primary);
    opacity: var(--finx-header-links-bg-opacity);
    border-radius: 5px;
    padding: 25px;
    margin: 0;
}
.header-link {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--finx-color-light);
}
.header-link:hover {
    color: var(--finx-color-primary);
}
.header-link {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--finx-color-light);
}

.with-image .header-links a:hover {
    color: var(--finx-color-secondary);
}
.navbar-brand a:hover {
    font-weight: bold;
}

.footer {
    border-top: solid 2px rgba(255, 255, 255, .8);
    padding: 50px;
}

/*
    SIDEBAR
*/

:root {
    --finx-sidebar-width:250px;
    --finx-sidebar-group-padding:5px;
    --finx-sidebar-link-list-padding:10px;
}

#sidebar {
    display: none;
    background-color: var(--finx-color-bg-light);
    width: var(--finx-sidebar-width);
    max-width: var(--finx-sidebar-width);
    min-width: var(--finx-sidebar-width);
    min-height: 100vh;
    overflow: hidden;
}
#sidebar.toggled {
    box-shadow: inset -1px 0 0 rgba(0, 0, 0,.1);
    /*border-right: solid 1px rgba(0, 0, 0, .8);*/
    display: block;
}

@media (max-width: 768px) {
    #sidebar {
        display: none;
    }

    #sidebar.toggled {
        display: block;
    }
}

.search-group #tipue_search_input {
    border: rgba(0, 0, 0, .1) solid 1px;
    margin-left: 10px;
    float: none;
}
.search-group {
    padding-top: 5px;
    width: 100%;
}

/*
    SITEMAP STYLES
*/
.sitemap {
    padding-left: var(--finx-sidebar-group-padding);
}

.sitemap-link-list {
    padding-left: var(--finx-sidebar-link-list-padding);
    width: 100%;
}

.sitemap-link {
    list-style-type: none;
}

.sitemap-link a {
    color: var(--finx-color-primary);
}
.sitemap-link a:hover {
    color: var(--finx-color-secondary);
}

/*
    BLOGROLL STYLES
*/
.blogroll {
    padding: var(--finx-sidebar-group-padding);
}

.blogroll-link-list {
    padding-left: var(--finx-sidebar-link-list-padding);
    width: 100%;
}

.blogroll-link {
    list-style-type: none;
}

.blogroll-link a {
    color: var(--finx-color-primary);
}
.blogroll-link a:hover {
    color: var(--finx-color-secondary);
}

/*
    CODE
 */

/*code {*/
/*    padding: 0.2em 0.15em;*/
/*    font-weight: 400;*/
/*    color: var(--finx-color-primary);*/
/*    background-color: var(--finx-color-light);*/
/*    border: solid rgba(200, 200, 200, .5);*/
/*    border-radius: 2px;*/
/*}*/

pre {
    padding: 10px;
    font-weight: 400;
    background: var(--finx-color-light);
    border: solid 1px rgba(200, 200, 200, .1);
    border-radius: 2px;
}

pre.highlight {
    background: var(--finx-color-light);
}

.in-out-block {
    border: solid 1px rgba(200, 200, 200, .1);
    border-radius: 2px;
    margin-bottom: 16px;
    background: var(--finx-color-light);
}
.in-out-block pre {
    margin-bottom: 0;
}
.out-block {
    padding: 10px 10px 10px 10px;
    border: solid 1px rgba(100, 100, 100, .1);
    border-top: none;
    border-radius: 2px;
    background: white;
}
.out-block pre {
    padding: 0;
    background: none;
    margin: 0;
    border: none;
}
.out-block .in-out-block pre {
    padding: 10px;
    background: var(--finx-color-light);
}
.out-block .in-out-block .out-block pre {
    padding: 0px;
    background: none;
}

/*
    BREADCRUMBS
 */

.page-header .breadcrumb {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    padding-left: 25px;
    padding-bottom: 10px;
    color: var(--finx-color-dark);
}
.page-header .breadcrumb .active{
    color: var(--finx-color-primary);
}
.page-header .breadcrumb .active a{
    color: var(--finx-color-primary);
}
.page-header .breadcrumb .active a:hover {
    color: var(--finx-color-primary);
}
